@import 'variables'; // Import the variables file
@import 'mixins'; // Import the mixins file


// .logo {
//   width: 200px; // Increase the width as needed
//   height: 85px; // Keep the height fixed
//   object-fit: contain; /* Maintains aspect ratio and fits the content within the defined width and height */
//   display: block; /* Removes any extra spacing at the bottom */
// }

.logo {
  transform: scale(2);
object-fit: contain;
display: block;
}
