/* MainContent.css */

.main-content {
    padding-left: 10%; /* Leave 30% space on the left side */
    padding-right: 10%;
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;

    .tab {
      margin-right: 20px;
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #f1f1f1;
      cursor: pointer;

      &:hover {
        background-color: #e1e1e1;
      }
    }

    .tab.active {
      background-color: #ccc;
    }
  }

  .video-grid {
    display: grid;
    grid-template-columns: repeat(3, 450px); /* 3 columns in each row */
    gap: 10px 1px; /* Space between the video cards */
    max-width: 80%; /* To prevent the grid from expanding beyond the right side */
    margin: 0; /* Remove default margin */
  }

  .video-card {
    background-color: #fff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .thumbnail {
      width: 100%;
      height: auto;
      display: block;
    }

    .video-info {
      padding: 10px;

      h4 {
        margin: 0;
        font-size: 19px;
        color: #333;
      }

      p {
        margin: 5px 0;
        font-size: 15px;
        color: #777;
      }
    }
  }
